<h1>
  Registration form</h1>
<div class="col-8">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text"
        class="form-control"
        id="name"
        #name
        name="name"
        ngModel
        placeholder="Your name">
    </div>
    <div class="form-group">
      <quill-editor ngModel name="description" id="description" [style]="{height: '250px'}" placeholder="Enter your description"></quill-editor>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>